body {margin-bottom: 20px;background-color: #fff;}
.container {background-color: #eee;padding: 0px;text-align: center;}

.top-bar {width: 330px;background-color: #eee;z-index: 2;margin:0 auto;}
.nav-bar {width: 100%;height: 35px; text-align: center;position: relative;border-top: 1px solid #eee;background-color: #fff;margin-top: 20px;height: 45px;border-bottom: 2px solid #eee;}
.page-title {display: block;line-height: 35px;font-size: 20px;margin-top: 5px;}

.index_image{max-width: 330px; margin: 0 auto;}

.menus-con {min-height: 100%;margin: 0px auto 0 auto;width: 330px;}
.menus-list>li {font-size: 16px;margin-bottom: 0.5px;}
.menu-title {background-color: #fff;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom: 1px solid #eee;padding: 10px 15px;height: 50px;}
.menu-radius {border-radius: 5px;}
.menu-title>a {text-decoration: none;line-height: 30px;}
.menu-title>a:hover {text-decoration: none;color:red;}
.menu-title>h3 {display: inline;float:left;line-height: 30px;}
.menu-content {background-color: #fff; border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;padding: 10px;height: 60px;}
.menu-text {display: inline-block;margin-left: 100px;float: left;}
.menu-text>h3 {font-size: 16px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;margin-bottom: 5px;}
.menu-text>ul>li {height: 25px;line-height: 25px;color: #666;}
